@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap");

.root {
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /*do remember to check this out to let it be as it as or modify it based on the end result*/
  gap: 2rem;
  width: 100%;
}

.specialSection {
  display: flex;
  width: 100%;
  height: 7.5rem;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(233, 131, 5, 0.1);
  background: #fef7f1;
  backdrop-filter: blur(4px);
}

.outline {
  width: 0.5%;
  flex-shrink: 0;
  align-self: stretch;
  background: #df7b00;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.specialSectionContent {
  display: flex;
  padding: 0.75rem 0.75rem 1rem 0rem;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  flex: 1 0 0;
}

.contentContainerTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;

  p {
    color: #252a31;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
  }
}

.specialSectionButtons {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.sectionOne {
  display: flex;
  color: #252a31;
  font-family: Manrope;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem; /* 133.333% */
  text-decoration-line: underline;
}

.sectionTwo {
  display: flex;
  width: 100%;
  padding: 0rem 1rem 1rem 0rem;
  justify-content: space-between;
  align-items: flex-end; /*same here*/
  border-bottom: 2px solid #eaeef3;
}

.sectionThree {
  display: flex;
  width: 100%;
  align-items: flex-start; /*same here*/
  gap: 2rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;

  div {
    color: #252a31;
    font-family: Manrope;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 133.333% */
  }

  p {
    color: #252a31;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1.5rem; /* 171.429% */
    letter-spacing: 0.00875rem;
  }
}

.stepsContainer {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start; /*same here*/
  gap: 1.5rem;
  flex: 1 0 0; /*same here*/
  border: 2px solid #eaeef3;
  border-radius: 0.5rem;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.stepBox {
  display: flex;
  padding: 0.75rem 0rem;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  border-bottom: 2px solid #e8edf1;
}

.imp {
  display: flex;
  padding: 0.125rem 0.75rem;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.25rem;
  background: #0b2a31;
  color: white;
}

.stepBoxContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex: 1 0 0;
  width: 100%;

  p {
    color: #252a31;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem; /* 142.857% */
  }
}

.boxButton {
  display: flex;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.banner {
  display: flex;
  width: 100%;
  padding: 2rem 2.5rem 0rem 2.5rem;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #eaeef3;
  background: #f1fbfe;
}

.bannerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.bannerTitle {
  color: #252a31;
  font-family: Manrope;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 120% */
}

.bannerSubTitle {
  color: #252a31;
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.00875rem;
}

.bannerButton {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.userDetails {
  display: flex;
  width: 25rem;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid #eaeef3;
  background: #fff;
}

.userContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

// .userName {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     gap: 0.5rem;
// }
